<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panaderia de Rodrigo - Productos</title>
<!--    Vincular CSS-->
</head>
<body>
    <h1>Productos de Panaderia</h1>
    <a th:href="@{/productos/nuevo}">+ Agregar Nuevo Producto</a>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p: ${productos}">
                <td th:text="${p.nombre}"></td>
                <td th:text="${p.categoria}"></td>
                <td th:text="${p.precio}"></td>
                <td th:text="${p.stock}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>